---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";

const contact = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { contact_form_action }: { contact_form_action: string } = config.params;
const { title, description, meta_title } = contact.data;
const { Content } = await render(contact);
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section pt-[72px]">
    <div class="container">
      <div class="row">
        <div class="mx-auto lg:col-8">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
